{{> header}}
    {{> navbar}}
    <div class="row">
     <div class="col-8">
         <h1>Personaje Extraño</h1>
         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores cum expedita velit similique fugit autem quod ipsam eum blanditiis totam! Sit, expedita voluptatibus cupiditate libero esse atque similique! Dolores, dolorem.</p>
     </div>
      <div class="col-4">
         <img src="assets/img/spring.png" class="img-thumbnail">
     </div>
    </div>
{{> footer}}
